{% extends 'base.html.twig' %}

{% block title %}[CCC] {{ band.getName() }} !{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
<img class="card-img-top" src="{{ asset("picture/" ~ band.getPicture())}}" alt="{{band.getPicture()}}" style="max-width: 50%; border: 1px solid #ddd">
<div class="card-group">
    
{% for member in members %}

    <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{ asset("picture/" ~ member.getPicture())}}" alt="{{ member.getName() }} picture">
    <div class="card-body">
        <p class="card-title">{{ member.getFirstName() }} {{ member.getName() }}</p>
        <p class="card-text">Born on {{ member.getBirthDate().format("d/m/Y") }}</p>
        <p class="card-text">{{ member.getJob() }}</p>
    </div>
    </div>
{% endfor %}
</div>
<div>
<h1>Next concerts:</h1>
{% include 'band/next.html.twig' %}
</div>
</div>
</div>
{% endblock %}
